body {
    margin-left: 5px;
    margin-right: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr;
    grid-template-areas: "Header Header Header Header" "Lista Lista Lista Mensagens";
    grid-gap: 10px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header {
    grid-area: Header;
    padding-bottom: 10px;
}

.Lista {
    grid-area: Lista;
    position: relative;
}

.Mensagens {
    grid-area: Mensagens;
    margin-left: 20px;
}

#messageList {
    font-size: small;
}